<nav class="bg-white shadow-lg fixed top-0 left-0 z-40 w-full py-6">
    <div class="flex justify-between items-center px-10">
        <!-- Menu di bagian kiri -->
        <div class="flex space-x-12
         text-lg"> 
            <a href="{% url 'main:shop' %}" class="text-black hover:text-gray-600 font-normal">HOME</a>
          <a href="{% url 'main:shop' %}" class="text-black hover:text-gray-600 font-normal">SHOP</a>
        </div>

      <!-- Title di Tengah -->
    <div class="flex-grow text-center">
        <span class="text-5xl font-[Sororite]">Sole de Luxe</span> <!-- Memperbesar ukuran font title -->
      </div>
        
    <!-- User options di bagian kanan -->
    <div class="flex items-center space-x-8"> <!-- Mengubah jarak antara item -->
        {% if user.is_authenticated %}
          <span class="text-black font text-lg">WELCOME, {{ user.username }}</span> <!-- Memperbesar ukuran font -->
          <a href="{% url 'main:logout' %}" class="bg-black hover:bg-gray-700 text-white font py-2 px-3 rounded transition-all duration-300 ease-in-out text-md">
            Log Out
          </a>
        {% else %}
          <a href="{% url 'main:login' %}" class="bg-black hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded transition-all duration-300 ease-in-out text-lg">
            Log In
          </a>
          <a href="{% url 'main:register' %}" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-300">
            Register
          </a>
          {% endif %}
        </div>
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button">
            <svg class="w-6 h-6 text-black" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile menu -->
    <div class="mobile-menu hidden md:hidden px-4 w-full">
      <div class="pt-2 pb-3 space-y-1 mx-auto">
        <div class="flex flex-col">
          <a href="{% url 'main:show_main' %}" class="block text-left text-gray-600 hover:text-black hover:font-semibold transition duration-300 mb-3">
            HOME
          </a>
          <a href="{% url 'main:show_main' %}" class="block text-left text-gray-600 hover:text-black hover:font-semibold transition duration-300 mb-3">
            SHOP
          </a>
        </div>
  
        {% if user.is_authenticated %}
          <span class="block text-[#85827f] mb-4">Welcome, {{ user.username }}?</span>
          <a href="{% url 'main:logout' %}" class="block text-center bg-[#85827f] hover:bg-[#615f5d] text-white font-bold py-3 px-6 rounded transition duration-300">
            Log Out
          </a>
        {% else %}
          <a href="{% url 'main:login' %}" class="block text-center text-gray-600 hover:text-black transition duration-300 mb-2">
            Login
          </a>
          <a href="{% url 'main:register' %}" class="block text-center bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-6 rounded transition duration-300">
            Register
          </a>
        {% endif %}
      </div>
    </div>
    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");
  
      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </nav>